.DS_Store
.thumbs.db
node_modules
/quasar-project/node_modules
# Quasar core related directories
.quasar
/quasar-project/dist

# Cordova related directories and files
/quasar-project/src-cordova/node_modules
/quasar-project/src-cordova/platforms
/quasar-project/src-cordova/plugins
/quasar-project/src-cordova/www

# Capacitor related directories and files
/quasar-project/src-capacitor/www
/quasar-project/src-capacitor/node_modules

# BEX related directories and files
/quasar-project/src-bex/www
/quasar-project/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
